div.dataset_list_info,
div.dataset_suggestion_list_info,
div.info_list {
    padding: 0 0 1em 0;
    margin: 0 0 1em 0;
    border-bottom: 1px solid #999999;
}

div.dataset_list div.header,
div.dataset_suggestion_list div.header,
div.info_list div.header {
    border-bottom: 1px solid red;
}

div.dataset_list div.header div,
div.dataset_suggestion_list div.header div,
div.info_list div.header div {
    font-weight: bold;
    background: #EFEFEF;
    height: 1.5em;
}

div.dataset_item a.title,
div.dataset_suggestion_item a.title {
    display: block;
    clear: both;
}

div.dataset_list div.header div,
div.dataset_item div,
div.dataset_suggestion_list div.header div,
div.dataset_suggestion_item div,
div.info_list div.header div,
div.info_item div {
    display: inline-block;
    vertical-align: top;
    padding: 4px 5px;
}

div.dataset_list div.header .description,
div.dataset_item .description,
div.info_list div.header .title,
div.info_item .title {
    width: 14em;
}

div.dataset_suggestion_list div.header .description,
div.dataset_suggestion_item .description {
    width: 18em;
}

div.dataset_list div.header .org,
div.dataset_item .org,
div.info_list div.header .type,
div.info_item .type {
    width: 10em;
}

div.info_list div.header .url,
div.info_item .url {
    width: 11em;
}

div.dataset_suggestion_list div.header .org,
div.dataset_suggestion_item .org {
    width: 12em;
}

div.dataset_list div.header .formats,
div.dataset_item .formats {
    width: 6em;
}

div.dataset_list div.header .open,
div.dataset_item .open {
    width: 4em;
}

div.dataset_item_detail div,
div.dataset_suggestion_item_detail div,
div.info_item_detail div {
    margin: 0 0 1em 0;
}

div.dataset_item_detail .license {
    float: none;
}

div.dataset_item_detail .license span.free {
    background-image: url('/midcom-static/fi.opengov.datacatalog/icn_thumbup.png');
}

div.dataset_suggestion_list div.header .url,
div.dataset_suggestion_item .url {
    width: 5.1em;
    overflow: hidden;
}

div.tags {
    display: inline-block;
}

div.tags ul {
    margin: 0.5em 0 0 0;
    list-style-type: none;
}

div.tags ul li {
    list-style-type: none;
    float: left;
    padding: 5px;
    margin: 0 0.5em 0 0;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    background-color: #E1E1E1;
}

div.tags ul li:hover {
    background-color: #FFFFAA;
}

.chooser_widget_headers {
    display: none;
}

div.suggestion_info {
    margin: 0 0 1em 0;
}

form#fi_opengov_datacatalog label
{
    margin: 0 0 0.5em 0;
}

form#fi_opengov_datacatalog label span.field_text
{
    display: block;
}

form#fi_opengov_datacatalog div.form_toolbar
{
    margin: 1em 0 1em 0;
}
