.yui-t7 .yui-gc .yui-u {
	width:43.0897;
}
.yui-t7 .yui-gc .sidebar {
	width:28.02em;
}



div.summary div.score p.highlight {
	line-height: 100%;
}


div.summary div.score .sub {
	line-height: 110%;
}

